* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: vazir;
    src: url("font/Vazir-Regular.ttf");
}

hr {
    color: #dadada;
    background-color: #dadada;
    width: 100%;
}

body {
    background-color: #eaeaea;
    direction: rtl;
    font-family: vazir;
}

.container {
    width: 1140px;
    min-height: 100vh;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar {
    width: 300px;
    min-height: 620px;
    background-color: aliceblue;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.sidebar-content {
    width: 90%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.sidebar-content img {
    width: 80%;
    height: auto;
    margin: 10px auto;
}

.sidebar-content h2 {
    font-weight: lighter;
}

.sidebar-content p {
    font-size: 18px;
    line-height: 2.5;
}

.sidebar-content ul {
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin: 10px auto;
    list-style: none;
}

.sidebar-content ul li a {
    font-size: 30px;
    color: #cccccc;
}

.sidebar-content-txt {
    margin-top: 20px;
    width: 90%;
}

.sidebar-content-txt h3 {
    margin: 10px auto;
}

.sidebar-content-txt p {
    line-height: 1.7;
    font-size: 17px;
    text-align: justify;
}

.content {
    width: 810px;
    min-height: 620px;
}

.navbar {
    width: 100%;
    height: 70px;
    background-color: aliceblue;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    padding: 30px 40px;
    color: #000;
    transition: 0.2s;
}

.navbar ul li a:hover {
    background-color: #00d7bb;
    color: aliceblue;
}

.main-content {
    width: 100%;
    min-height: 400px;
    margin-top: 40px;
    background-color: aliceblue;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content-right {
    width: 30%;
}

.content-left {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-left img {
    width: 100%;
    height: auto;
}

.links {
    margin-top: 30px;
    display: flex;
    flex-wrap: nowrap;
}

.links a {
    padding: 15px 25px;
    background-color: #00d7bb;
    text-decoration: none;
    color: aliceblue;
    transition: 0.3s;
    margin: 5px 2px;
}

.links a:hover {
    background-color: #2285b1;
}

.education {
    width: 90%;
    margin: auto;
}

.title-education {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.title-education span {
    font-size: 40px;
    margin-right: 5px;
}

.education p {
    font-size: 14px;
    text-align: justify;
    margin-bottom: 20px;
}

.education ul li {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-right: 20px;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.2);
}

.proof {
    margin: 0px 10px;
    font-size: 20px;
}

.uni {
    color: rgba(0, 0, 0, 0.7);
}

.contact-us {
    width: 100%;
    min-height: 310px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.info {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.2);
}

.info p {
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}

.form-contact {
    width: 350px;
    background-color: #00d7bb;
    padding: 20px;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.2);
}

.form-contact form input {
    width: 90%;
    height: 28px;
    margin-bottom: 5px;
    padding-right: 10px;
    outline: none;
    font-family: "vazir";
    border: 1px solid #fff;
}

.form-contact form textarea {
    width: 90%;
    height: 100px;
    padding: 5px;
    font-family: "vazir";
    border: 1px solid #fff;
    outline: none;
}

.form-contact form button {
    padding: 10px 40px;
    cursor: pointer;
    font-family: "vazir";
    transition: 0.3s;
    border: 0px;
}

.form-contact form button:hover {
    background-color: #2285b1;
    color: aliceblue;
}

@media screen and (max-width: 1145px) {
    .container {
        width: 100%;
        flex-wrap: wrap;
    }
    .sidebar {
        display: none;
    }
    .content {
        width: 90%;
        margin: 0px auto;
    }
}

@media screen and (max-width: 900px) {
    .main-content {
        flex-wrap: wrap;
    }
    .content-right,
    .content-left {
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    .content-left img {
        margin-top: 10px;
        width: 80%;
        height: auto;
    }
    .links {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 20px auto;
        text-align: center;
    }
    .contact-us {
        justify-content: center;
        flex-wrap: wrap;
    }
    .info {
        padding: 20px 0px;
        margin-bottom: 20px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 800px) {
    .navbar ul li a {
        padding: 30px 20px;
    }
}

@media screen and (max-width: 600px) {
    .navbar ul li a {
        padding: 20px 10px;
    }
    .navbar ul li a:hover {
        background-color: aliceblue;
        color: #00d7bb;
    }
}