*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	font-family: "b yekan";
}

.header{
	width: 100%;
	height: auto;
	text-align: center;
	
}
.header img{
	width: 100%;
	height: auto;
}
.header h1,.header p{
	color: aliceblue;
	padding: 10px 0px
}

nav{
	width: 100%;
	display: flex;
	padding: 10px 0px;
}
.logo{
	color: darkred;
	font-size: 30px;
	width: auto;
	margin: 0px 20px;
}
.nav-link{
	display: flex;
	text-decoration: none;
	margin-right: 10px;
}
.nav-link li{
	list-style: none;
	padding: 9px 0px;
	transition: 0.5s;
	border-radius: 3px;
	border-left: 1px solid #ffffff;
	background-color: rgba(204,79,203,0.7);
	margin-left: 1px;
}
.nav-link li:last-child{
	border-left: none;
}
.nav-link li a{
	color: #000;
	text-decoration: none;
	font-size: 17px;
	padding: 10px 20px;
}
.nav-link li:hover{
	background:rgba(204,79,203,1.00)
}
.nav-link li ul{
	position: absolute;
	margin-top: 9.4px;
	display: block;
	width: 200px;
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
}
.nav-link li:hover ul{
	opacity: 1;
	visibility: visible;
}
.nav-link li ul li{
	border-bottom: 1px solid #ffffff;
	border-left: none;
}
.container{
	display: grid;
	grid-template-columns:25% 75%;
	grid-gap: 10px;
	margin: 20px 30px;
}

.sidebar-right{
	min-height:  500px;
}
.content-sidebar{
	width: 98%;
	height: auto;
	background: rgba(204,79,203,1.00);
	margin: 0px 1% 10px 1%;;
	text-align: center;
	border-radius: 5px;
}
.content-sidebar h2{
	color: aliceblue;
	padding: 10px 0px;
}
.content-sidebar img{
	width: 90%;
	height: auto
}
.content-sidebar p{
	padding: 5px;
	text-align: justify;
	color: aliceblue;
}

.lastpost-content-sidebar{
	width: 98%;
	height: auto;
	background: rgba(204,79,203,1.00);
	margin: 0px 1% 10px 1%;;
	text-align: center;
	border-radius: 5px;
}
.lastpost-content-sidebar h2{
	color: aliceblue;
	padding: 10px 0px;
}
.lastpost-content-sidebar ul{
	text-align: right;
	list-style: none;
}
.lastpost-content-sidebar ul li{
	padding: 3px 5px;
}
.lastpost-content-sidebar ul li a{
	color: aliceblue;
	text-decoration: none;
}
.lastpost-content-sidebar ul li:hover{
	background-color: aliceblue;
	border-radius: 3px;
	transition: 0.4s all;
}
.lastpost-content-sidebar ul li:hover a{
	color: rgba(59,59,59,0.8);
}
.main-box{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;
}
.content{
	text-align: center;
	border: 1px solid rgba(204,79,203,1.00);
	border-radius: 5px;
	height: fit-content;
}
.title-content{
	color: rgba(59,59,59,0.8);
	padding: 10px 0px;
}
.content img{
	width: 80%;
	height: auto;
	border-radius: 100px;
}
.content p{
	color: rgba(59,59,59,0.8);
	text-align: justify;
	padding: 5px;
	margin-bottom: 20px;
}

.read-more{
	margin: 20px auto;
}
.read-more a{
	text-decoration: none;
	color: aliceblue;
	background-color: rgba(204,79,203,0.6);
	padding: 10px 15px;
}

footer{
	background: rgba(204,79,203,1.0);
	padding: 30px 0px;
}
.social-pages{
	text-align: center;
}

.social-pages ul li{
	display: inline-block;
	padding: 10px
}
.social-pages ul li a{
	font-size: 30px;
	color: aliceblue;
}
.social-pages p{
	color: aliceblue;
}

@media screen and (max-width: 1200px){

    .main-box{
        grid-template-columns: 50% 50%;
    }
    .container{
        grid-template-columns: 30% 70%;
    }
}

@media screen and (max-width: 980px){

    .main-box{
        grid-template-columns: 100%;
    }
    .container{
        grid-template-columns: 40% 60%;
    }
}

@media screen and (max-width: 768px){
	.nav-link{
		display: block;
		width: 94%;
		margin-right: 0px;
		margin: 0px 3%;
	}
	.nav-link li{
		display: block;
		border-left: none;
	}
	.nav-link li ul{
		width: 94%;
		z-index: 1;
	}
	.logo{
		display: none;
	}

    .container{
        grid-template-columns: 100%;
    }
    .main-box{
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 600px){

    .container{
        grid-template-columns: 100%;
    }
    .main-box{
        grid-template-columns: 100%;
    }
}
.nav-active{
	transform: translateX(0%);
}


