* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@font-face {
  font-family: "shabnam";
  font-style: normal;
  src: url("font/Shabnam.eot");
  src: url("font/Shabnam.eot?#iefix") format("embedded-opentype"),
    url("font/Shabnam.woff2") format("woff2"),
    url("font/Shabnam.woff") format("woff"),
    url("font/Shabnam.ttf") format("truetype");
}

body {
  font-family: "shabnam";
  min-height: 1000px;
  overflow-x: hidden;
}

/* style of index */
.header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/5.jpg);
  background-size: cover;
  background-attachment: fixed;
}
nav {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 0px;
  width: 100%;
}
.brand {
  margin: 10px 60px;
  text-align: center;
}
.link-b {
  text-decoration: none;
  color: #fff;
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}
nav ul li {
  padding: 10px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: 0.4s all;
  padding: 10px;
}
nav ul li a:hover {
  background-color: #f53131;
}

.jumbotron {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 100px 0px;
  margin-top: 40px;
}
.jumbotron h1 {
  font-size: 50px;
  color: #fff;
  font-weight: lighter;
}
.jumbotron p {
  margin: 20px 0px;
  color: #fff;
  font-size: 25px;
  margin-bottom: 60px;
}
.jumbotron a {
  text-decoration: none;
  color: #fff;
  margin-top: 40px;
  padding: 10px 40px;
  background-color: #f53131;
  border: 1px solid #f53131;
  border-radius: 25px;
}

.g-container {
  width: 80%;
  min-height: 500px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(6, 16.66%);
  grid-template-rows: auto;
}

.grid1 {
  grid-column-start: 1;
  grid-column-end: 7;
  height: auto;
  text-align: center;
  margin-bottom: 40px;
}
.grid1 h2 {
  color: #000;
  font-weight: lighter;
  font-size: 21px;
  padding: 5px 0px;
}
.grid1 h4 {
  padding: 10px 0px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}
.grid1 p {
  margin: 0px auto;
  width: 80%;
  padding: 5px 80px;
  font-size: 16px;
  font-weight: lighter;
}
.grid2 {
  grid-column-start: 1;
  grid-column-end: 4;
  min-height: 300px;
  text-align: center;
}
.grid2 img {
  margin: 15px auto;
  width: 80%;
  height: auto;
  border-radius: 5px;
}
.title {
  font-size: 25px;
  color: #000;
  margin: 10px 0px;
  text-align: center;
}
.txt-grid {
  text-align: center;
  font-weight: lighter;
  padding: 5px 60px;
  margin-bottom: 10px;
}
.link-more {
  text-align: center;
  padding: 20px 0px;
}
.link-more a {
  text-decoration: none;
  color: #f53131;
  font-size: 20px;
  margin: auto;
  padding: 7px 20px;
  border: 1px solid #f53131;
  border-radius: 5px;
  transition: 0.4s all;
}
.link-more a:hover {
  color: aliceblue;
  background-color: #f53131;
}

.grid3 {
  grid-column-start: 4;
  grid-column-end: 7;
  min-height: 200px;
  text-align: center;
}
.grid3 img {
  margin: 15px auto;
  width: 80%;
  height: auto;
  border-radius: 5px;
}
.grid4 {
  grid-column-start: 2;
  grid-column-end: 6;
  min-height: 200px;
  margin: 40px 0px;
  text-align: center;
  justify-content: center;
}
.grid4 h2 {
  text-align: center;
  color: #000000;
  font-weight: lighter;
}
.txt-goal {
  /* background-color: #f53131; */
  margin-top: 10px;
  font-weight: lighter;
}

footer {
  width: 100%;
  height: auto;
}
.nav-social {
  width: 100%;
  height: auto;
  background-color: #525252;
}
.nav-social ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 20px 0px;
}
.nav-social ul li a {
  font-size: 35px;
  margin: 0px 20px;
  background-color: aliceblue;
  padding: 3px 10px;
  border-radius: 5px;
  color: #525252;
  transition: 0.4s all;
}
.nav-social ul li a:hover {
  color: aliceblue;
  background-color: #f53131;
}
.address {
  width: 100%;
  height: auto;
  padding: 50px 0px;
  background-color: #2b2b2b;
  text-align: center;
}
.address p {
  color: aliceblue;
  font-weight: lighter;
  font-size: 18px;
  padding-bottom: 5px;
}
@media screen and (max-width: 1150px) {
  .grid1 {
    grid-column-start: 1;
    grid-column-end: 7;
  }
  .grid2,
  .grid3 {
    grid-column-start: 2;
    grid-column-end: 6;
  }
}

@media screen and (max-width: 930px) {
  .g-container {
    width: 90%;
    margin: 40px auto;
  }
  .grid1 {
    grid-column-start: 1;
    grid-column-end: 7;
    padding: 0px;
  }
  .grid1 p {
    width: 98%;
    margin: 0px 1%;
  }
  .grid2,
  .grid3 {
    grid-column-start: 2;
    grid-column-end: 6;
  }
}

@media screen and (max-width: 650px) {
  .g-container {
    width: 100%;
    margin: 40px auto;
  }
  .grid1 {
    grid-column-start: 1;
    grid-column-end: 7;
    padding: 0px;
  }
  .grid1 p {
    width: 100%;
    padding: 10px;
  }
  .grid2,
  .grid3 {
    grid-column-start: 1;
    grid-column-end: 7;
  }
  .brand {
    display: none;
  }
  .jumbotron h1 {
    font-size: 40px;
  }
}
